@small-size: 30px;
.symbol {
  display: inline-block;
  position: relative;
  width: 100%;

  &.symbol--small {
    width: @small-size;
    height: @small-size;
    vertical-align: middle;
    margin-left: 5%;
  }
  &:before, &:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &-cross {
    &:before, &:after {
      width: 15px;
      height: 100%;
      border-radius: 6px;
      .red();
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    &.symbol--small {
      &:before, &:after {
        width: 7px;
      }
    }
  }

  &-nought {
    @disk: 100%;
    @inner-disk: 50%;
    @max-disk: 80px;
    @max-inner-disk: 40px;
    &:before, &:after {
      border-radius: 100%;
      top: 50%;
      transform: translate(0,-50%);
    }
    &:before {
      width: @disk;
      height: @disk;
      max-width: @max-disk;
      max-height: @max-disk;
      .red();
    }
    &:after {
      width: @inner-disk;
      height: @inner-disk;
      max-width: @max-inner-disk;
      max-height: @max-inner-disk;
      background: white;
    }
  }

  &-red {
    &.symbol-nought:before,
    &.symbol-cross:before,
    &.symbol-cross:after {
      .red();
    }
  }
  &-blue {
    &.symbol-nought:before,
    &.symbol-cross:before,
    &.symbol-cross:after {
      .blue();
    }
  }
  &-yellow {
    &.symbol-nought:before,
    &.symbol-cross:before,
    &.symbol-cross:after {
      .yellow();
    }
  }
  &-pink {
    &.symbol-nought:before,
    &.symbol-cross:before,
    &.symbol-cross:after {
      .pink();
    }
  }
  &-green {
    &.symbol-nought:before,
    &.symbol-cross:before,
    &.symbol-cross:after {
      .green();
    }
  }
}

.colour-pick {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 3px;
  transition: border-radius .2s;

  &-active {
    border-radius: 100%;
  }

  &-red {
    .red();
  }
  &-blue {
    .blue();
  }
  &-yellow {
    .yellow();
  }
  &-pink {
    .pink();
  }
  &-green {
    .green();
  }
}

.btn-switch {
  margin-bottom: 15px;
  text-transform: capitalize;
}

button.close {
  min-width: 40px;
}