.symbol-cross {
  display: inline-block;
  width: 15px;
  height: 60px;
  border-radius: 6px;
  background: linear-gradient(135deg, red, blue);
  position: relative;
  transform: rotate(-45deg);
  span {
    display: block;
    border-radius: 6px;
    position: absolute;
    width: 15px;
    height: 60px;
    background: linear-gradient(135deg, red, blue);
    transform: rotate(90deg);
  }
}

.symbol-nought {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(135deg, red, blue);
  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
    margin-top: 15px;
  }
}