@border: 3px solid black;

.grid {
  display: table;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;

  &__row {
    display: table-row;
  }

  &__col {
    display: table-cell;
    border-top: @border;
    border-left: @border;
    width: 33.33%;
    text-align: center;
    &:first-child {
      border-left: none;
    }
    .grid__row:first-child & {
        border-top: none;
    }
  }

  &__cell {
    display: inline-block;
    min-height: 100px;
  }
}