<!DOCTYPE html>
<html lang="en" ng-app="tictactoe">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <meta name="description" content="christmas challenge">
  <meta name="author" content="Lauriane Kayungu">
  <title>Tic Tack Toe</title>

  <link type="text/css" href="../dist/css/main.css" rel="stylesheet">
</head>
<body ng-controller="mainCtrl">

<div class="grid" ng-cloak>
  <div class="row" ng-repeat="col in grid.grid">
    <div class="col" ng-repeat="row in col track by $index">
      <span class="cell" ng-class="row?row.class : ''">
        <span></span>
      </span>
    </div>
  </div>
</div>


<script src="../bower_components/angular/angular.js"></script>
<script src="../dist/js/main.js"></script>
</body>
</html>